@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{ font-family: "Nanum Gothic", Batang, sans-serif; font-weight: 600;}

body{
	margin: 0 0;
	height: 100vh;
	background-color: #ffd571;
}
::selection{
	background-color: #ffd571;
	color: white;
}

/* index.html */
#loginWrap{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	background: url("./intro-bg.jpg") no-repeat;
	background-size: cover;
}
#loginWrap div{
	text-align: center;
}
input#nick{
	text-align: center;
	margin: 10px;
	padding: 8px 8px;
	font-size: 11pt;
}
#loginBtn{
	color: white;
	background-color: #474747;
	border: 0px;
	border-radius: 10px;
	width: 200px;
	height: 100px;
	font-size: 32pt;
	cursor: pointer;
	display: inherit;
}

/* game.html */
#Wrap{
	padding: 5vh 5vh;
	width: auto;
	height: 90vh;
	background-color: #FFD571;
}
.box{
	background-color: RGBA(0,0,0,0.3);
	border-radius: 10px;
	color: white;
}
#me{
	font-size: 30pt;
	width: 180px;
	height: 120px;
	padding: 5px 10px;
	line-height: 60px;
}
#rule{
	font-size: 25pt;
	width: 180px;
	height: 50px;
	padding: 5px 10px;
	margin-top: 50px;
	text-align: center;
	line-height: 50px;
}
#turn{
	font-size: 30pt;
	width: 150px;
	height: 50px;
	padding: 5px 10px;
	text-align: center;
	line-height: 50px;
}
.\31 P{
	color: #375b87;
	font-weight: 800;
}
.\32 P{
	color: #a93232;
	font-weight: 800;
}
.mark{
	color: #FFD571;
	font-weight: 800;
}
.atc{
	display: inline-block;
	position: relative;
}
.left{
	float: left;
}
.board{
	margin-left: 30px;
}
.right{
	margin-left: 30px;
	position: absolute;
}
table{
	display: inline-block;
}
td{
	width: 6vw;
	height: 6vw;
	text-align: center;
	vertical-align: middle;
	background-color: #8abad4;
}
td img{
	background-image: url("./exit.png");
	background-size: contain;
	width: 5vw;
	height: 5vw;
}

td div{
	background-image: url("./none.png");
	background-size: contain;
	width: 5vw;
	height: 5vw;
	margin: auto;
}
.blue{
	background-image: url("./blue.png");
}
.red{
	background-image: url("./red.png");
}
#check{
	background-size: contain;
	margin-top: 27vw;
	width: 80px;
}

.flip{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.ar_top{
    width: 30px;
    height: 18px;
    background: url("./arrow-top.png") no-repeat;
    background-size: contain;
}

.ar_right{
    width: 18px;
    height: 30px;
	background: url("./arrow-right.png") no-repeat;
	background-size: contain;
}
.ar_bottom{
    width: 30px;
    height: 18px;
	background: url("./arrow-bottom.png") no-repeat;
	background-size: contain;
}
.ar_left{
    width: 18px;
    height: 30px;
	background: url("./arrow-left.png") no-repeat;
	background-size: contain;
}

.arrow{
	position: absolute;
	visibility: hidden;	
}

#set{
	width: 50vw;
	height: 5vw;
	background-color: #222222;
	position: fixed;
	bottom: 0px;
	left: 20vw;
	border-top-left-radius: 25px;
	border-top-right-radius: 15px;
	padding: 10px;
	text-align: center;
}
#set div{
	background-size: contain;
	width: 5vw;
	height: 5vw;
	margin: auto;
	display: inline-block;
	margin: 0px 10px;
}