{% extends "game/layout.html" %}

{% block title %}
게임
{% endblock %}

{% block content %}
<div id="Wrap">
	<div class="left atc">
		<div id="me" class="box">당신은<br>
			{% if whoami == "1P" %}
				<span class="1P">1P </span>입니다
			{% else %}
				<span class="2P">2P </span>입니다
			{% endif %}
		</div>
		<div id="rule" class="box"> <span class="mark">?</span> 게임 방법</div>
	</div>
	<div class="board atc">
		<table>
			<!-- 넘겨받은 board값 잘 배치하기 [미완] -->
			{% for row in board%}
				<tr>
				{% for x in row %}
					{% if x == 1 %}
						<td><div class='blue my'></div></td>
					{% elif x == 2 %}
						<td><div class='red my' name='0'></div></td>
					{% elif x == 3 or x == 4 %}
						<td><div></div></td>
					{% elif x == 9 %}
						<td><img class='flip' src="./assets/exit.png"></td>
					{% elif x == 8 %}
						<td><img src="./assets/exit.png"></td>
					{% else %}
						<td></td>
					{% endif %}
				{% endfor %}
				</tr>
			{% endfor %}
		</table>
	</div>
	<div class="right atc">
		<div id="turn" class="box"><span class='{{ turn }}'>{{ turn }}</span> 차례</div>
		{% if turn == whoami %}
			<form action='deal' method='POST'>{% csrf_token %} 
				<input id='x' name='x' type='hidden' value=''>
				<input id='y' name='y' type='hidden' value=''>
				<input id='vec' name='vec' type='hidden' value=''>
				<input id="check" src='./assets/check.png' style='visibility: hidden;' type='image'>
			</form>
		{% else %}
			<form action='game' method='POST'>{% csrf_token %}
				<input id="check" src='./assets/refresh.png' type='image'>
			</form>
		{% endif %}
	</div>
	<div>
		<div class="ar_top arrow"></div>
		<div class="ar_left arrow"></div>
		<div class="ar_bottom arrow"></div>
		<div class="ar_right arrow"></div>
	</div>
	<div id="set">
		<div class='red' name='0'></div><div class='blue' name='0'></div><div class='red' name='0'></div><div class='blue' name='0'></div><div class='red' name='0'></div><div class='blue' name='0'></div><div class='red' name='0'></div><div class='red' name='0'></div>
	</div>
</div>
<script>
	$(function(){
		$('.my').on('click',function(){
			var lf = $(this).offset().left;
			var tp = $(this).offset().top;
			var width = $(this).width();

			$('#vec').val('');
			$('#check').css('visibility','hidden');
			$('.ar_top').css( {left: lf + ((width-30)/2) , top: tp-23} );
			$('.ar_right').css( {left: lf+width+5 , top: tp + ((width-30)/2)} );
			$('.ar_bottom').css( {left: lf + ((width-30)/2) , top: tp+width+5 } );
			$('.ar_left').css( {left: lf -23 , top: tp + ((width-30)/2)} );
			$('.arrow').css('visibility','visible');
			// $('#x').val();
			// $('#y').val();
		});

		$('.arrow').on('click',function(){
			if($(this).hasClass('ar_top')){
				$('#vec').val(0);
			}else if($(this).hasClass('ar_right')){
				$('#vec').val(1);
			}else if($(this).hasClass('ar_bottom')){
				$('#vec').val(2);
			}else{
				$('#vec').val(3);
			}
			$('#check').css('visibility','visible');
		});
	});
</script>
{% endblock %}