{% extends "game/layout.html" %}

{% block title %}
홈
{% endblock %}

{% block content %}
<div id="loginWrap">
	<div>
		<input id="nick" name="nick" type="textarea" placeholder="닉네임을 입력하세요" required>
		<input id="loginBtn" type="submit" value="들어가기">
	</div>
</div>
{% block overlap %}
    {% if overlap %}
	<script>
		alert('{{ overlap }}');
	</script>
    {% endif %}
{% endblock %}
<script>
	$(function(){
		$('#loginBtn').on('click',function(){		// 들어가기 버튼을 누르면
			var re = /^[a-zA-Z0-9]+$/;				// 정규표현식 re는 영어 소문자 대문자, 숫자
			if (re.test($('#nick').val())){			// re에 닉네임 값을 넣고 true이면
				document.cookie = "nick="+$('#nick').val()+";";		// 쿠키를 저장한다.
				location.href='./init';								// 주소 ./init로 이동
			}else{
				alert('닉네임은 영어와 숫자만 가능합니다.');		// 정규표현식 검증이 false이면 에러 메세지
			}
		});
	});
</script>
{% endblock %}