{% extends "game/layout.html" %}

{% block title %}
홈
{% endblock %}

{% block content %}
<div id="loginWrap">
	<div>
		<input id="nick" name="nick" type="textarea" placeholder="닉네임을 입력하세요" required>
		<input id="loginBtn" type="submit" value="들어가기">
	</div>
</div>
{% block overlap %}
    {% if overlap %}
	<script>
		alert('{{ overlap }}');
	</script>
    {% endif %}
{% endblock %}
<script>
	$(function(){
		$('#loginBtn').on('click',function(){
			var re = /^[a-zA-Z0-9]+$/;
			if (re.test($('#nick').val())){
				document.cookie = "nick="+$('#nick').val()+";";
				location.href='./init';
			}else{
				alert('닉네임은 영어와 숫자만 가능합니다.');
			}
		});
	});
</script>
{% endblock %}