{% extends "game/layout.html" %}

{% block title %}
대기실
{% endblock %}

{% block content %}
<div id="loginWrap">
	<form action="chkDB">{% csrf_token %} 
		<input id="nick" name="nick" type="hidden">
		<input id="loginBtn" type="submit" value="DB체크">
	</form>
</div>
<script>
	$(function(){						// html document가 모두 불러와지면 실행
		function getCookie(cname) {
		    var name = cname + "=";
		    var ca = document.cookie.split(';');
		    for(var i = 0; i <ca.length; i++) {
		        var c = ca[i];
		        while (c.charAt(0)==' ') {
		            c = c.substring(1);
		        }
		        if (c.indexOf(name) == 0) {
		            return c.substring(name.length,c.length);
		        }
		    }
		    return "";
		}

		$('.nick').val(getCookie('nickname'));
	});
</script>
{% endblock %}