{% extends "game/layout.html" %}

{% block title %}
패 셋팅
{% endblock %}

{% block content %}
<div id="Wrap">
	<div class="left atc">
		<div id="me" class="box">당신은<br>
			{% if whoami == "1P" %}
				<span class="1P">1P </span>입니다
			{% else %}
				<span class="2P">2P </span>입니다
			{% endif %}
		</div>
		<div id="rule" class="box"> <span class="mark">?</span> 게임 방법</div>
	</div>
	<div class="board atc">
		<table>
			<tr>
				<td><img class='flip' src="./assets/exit.png"></td><td></td><td></td><td></td><td></td><td><img src="./assets/exit.png"></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td><div class='blue' name='0'></div></td><td><div class='blue' name='1'></div></td><td><div class='blue' name='2'></div></td><td><div class='blue' name='3'></div></td><td></td>
			</tr>
			<tr>
				<td><img class='flip' src="./assets/exit.png"></td><td><div class='red' name='4'></div></td><td><div class='red' name='5'></div></td><td><div class='red' name='6'></div></td><td><div class='red' name='7'></div></td><td><img src="./assets/exit.png"></td>
			</tr>
		</table>
	</div>
	<div class="right atc">
		<div id="turn" class="box">패 셋팅</div>
		<form action='setChk' method='POST'>{% csrf_token %} 
			<input id='hand' name='hand' type='hidden' value='00001111'>
			<input id="check" src='./assets/check.png' type='image'>
		</form>
	</div>
</div>
<script>
	$(function(){
		$('td div').on('click', function(){		// td(테이블 셀)안의 div태그(패)를 누르면
			if($(this).hasClass('blue')){		// div의 class가 blue를 가지면
				$(this).removeClass('blue');	// div의 class에서 blue를 제거하고
				$(this).addClass('red');		// red를 추가한다.
			}else{
				$(this).removeClass('red');		// blue를 가지지 않으면 class에서 red를 제거하고
				$(this).addClass('blue');		// blue를 추가한다.
			}
			// 사용자의 패 정보 (11110000)을 변경하는 부분
			index = $(this).attr('name');		// 클릭한 div태그의 name 속성 값을 가져온다.
			pre = $('#hand').val();				// 바뀌기 전의 패 정보를 pre에 저장한다.
			res = pre.slice(0,index);			// 결과 res에 pre의 0부터 index-1까지 잘라서 넣고
			res += pre.charAt(index)==0?1:0;	// pre의 index번째 글자가 0이면 1을 1이면 0을 res에 이어 붙인다.
			res += pre.slice(++index);			// res에 pre의 index+1부터를 이어 붙인다.
			$('#hand').val(res);				// res를 input 태그의 value로 셋팅한다.
		});
	});
</script>
{% endblock %}