{% extends "game/layout.html" %}

{% block title %}
패 셋팅
{% endblock %}

{% block content %}
<div id="Wrap">
	<div class="left atc">
		<div id="me" class="box">당신은<br>
			{% if whoami == "1P" %}
				<span class="PO">1P </span>입니다
			{% else %}
				<span class="PT">2P </span>입니다
			{% endif %}
		</div>
		<div id="rule" class="box"> <span class="mark">?</span> 게임 방법</div>
	</div>
	<div class="board atc">
		<table>
			<tr>
				<td><img class='flip' src="http://songay.dothome.co.kr/comnet/exit.png"></td><td></td><td></td><td></td><td></td><td><img src="http://songay.dothome.co.kr/comnet/exit.png"></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td><div class='blue' name='0'></div></td><td><div class='blue' name='1'></div></td><td><div class='blue' name='2'></div></td><td><div class='blue' name='3'></div></td><td></td>
			</tr>
			<tr>
				<td><img class='flip' src="http://songay.dothome.co.kr/comnet/exit.png"></td><td><div class='red' name='4'></div></td><td><div class='red' name='5'></div></td><td><div class='red' name='6'></div></td><td><div class='red' name='7'></div></td><td><img src="http://songay.dothome.co.kr/comnet/exit.png"></td>
			</tr>
		</table>
	</div>
	<div class="right atc">
		<div id="turn" class="box">패 셋팅</div>
		<form action='setChk' method='POST'>{% csrf_token %} 
			<input id='hand' name='hand' type='hidden' value='00001111'>
			<input id="check" src='http://songay.dothome.co.kr/comnet/check.png' type='image'>
		</form>
	</div>
</div>
<script>
	$(function(){
		cnt = 0;
		$('td div').on('click', function(){
			if($(this).hasClass('blue')){
				$(this).removeClass('blue');
				$(this).addClass('red');
			}else{
				$(this).removeClass('red');
				$(this).addClass('blue');
			}

			index = $(this).attr('name');
			pre = $('#hand').val();
			res = pre.slice(0,index);
			res += pre.charAt(index)==0?1:0;
			res += pre.slice(++index);
			$('#hand').val(res);
			cnt++;
		});
	});
</script>
{% endblock %}