{% extends "game/layout.html" %}

{% block title %}
{% ifequal winLose "win" %}
	승리
{% else %}
	패배
{% endifequal %}
{% endblock %}

{% block content %}
<div id="Wrap">
	<div class="left atc">
		<div id="me" class="box">당신은<br>
			{% ifequal whoami "1P" %}
				<span class="1P">1P </span>입니다
			{% else %}
				<span class="2P">2P </span>입니다
			{% endifequal %}
		</div>
		<div id="rule" class="box"> <span class="mark">?</span> 게임 방법</div>
	</div>
	<div class="board atc" style='width: 40vw; height: 10vw; text-align: center;'>
		{% ifequal winLose "win" %}
			<div id="result">당신은 <span class="1P">승리</span>하였습니다!</div>
		{% else %}
			<div id="result">당신은 <span class="2P">패배</span>하였습니다..</div>
		{% endifequal %}
		<a href="./"><input id="toHome" type="button" value="다시하기"></a>
	</div>
	<div class="right atc">
		<div id="turn" class="box">종 료</div>
	</div>
</div>
{% endblock %}